/*tablet device  */
@media(min-width:768px){
#home-section .container .row h1{
    line-height: 40px;
    font-size: 54px;
    line-height: 63px;
}
#home-section .container .row .input-group{
    padding: 7px;
}
#testimonials .container .row .card{
    justify-content: center;
    margin-top: 26px;
}
#home-section .container .row .input{
    padding: 8px;
}
#subscribe-section .container .input-group{
    display: flex;
    flex-direction: column;
}
#subscribe-section .container .input-group .form-control{
    width: 100%;
}
#subscribe-section .container .input-group button{
    margin-top: 15px;
}
}
/* mobile devices */
@media(min-width:576px){
#home-section .container .row h1{
    font-size: 35px;
    line-height: 55px;
    margin-bottom: 12px;
    text-align: center;
}

#home-section .container .row .input-group{
    margin-right: 10px;
    margin-bottom: 22px;
    padding: 10px;
    padding-right: 49px;
}
#home-section .container .row img{
    padding: 11px;
}
#testimonials .container .row{
    padding: 7px;
}
#testimonials .container .row .card{
    margin: 18px;
}
#subscribe-section .container .head3{
    font-size: 17px;
}
#subscribe-section .container .head4{
    display: flex;
    justify-content: column;
    font-size: 15px;
    line-height: 25px;
    margin: auto;
}
#subscribe-section .container .row .input-group{
    display: flex;
    flex-direction: column;
}
#subscribe-section .container .row .input-group input{
    width: 100%;
}
#subscribe-section .container .row .input-group button{
    margin-top: 15px;
}
}